$header: #FDFDFD;
$bn: #E9F6FF;
$conts: #F9F9F9;

$base-font-color: #444444;
$gray-font-color: #808080;

$base-font: "kozuka-gothic-pro", "clone-rounded-latin", "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
$jp-font: "kozuka-gothic-pro", "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
$en-font: "clone-rounded-latin", sans-serif;
$logo-font: "source-code-pro";

/* tk-source-code-pro */
/* tk-kozuka-gothic-pro */
/* tk-clone-rounded-latin */

/* html { */
/* visibility: hidden; */
/* } */

/* html.wf-active { */
/* visibility: visible; */
/* } */

body {
    font-family: $base-font;
    color: $base-font-color;
    font-weight: 300;
}

a {
    color: $base-font-color;
    border-bottom: 1px dotted $gray-font-color;


    &:hover {
        color: $gray-font-color;
        text-decoration: none;
    }
}

.logo-font {
    font-family: $logo-font;
    font-weight: 400;
}

.en-font {
    font-family: $en-font;
}

.heading {
    text-align: center;
}

.small-font {
    font-size: 80%;
}

.header {
    height: 500px;
    background-color: $header;

    .header--wrapper {
        position: relative;
        padding-left: 0px;
        padding-right: 0px;

        .header--bn {
            width: 100%;
            height: 100%;
        }

        .header--title {
            width: 100%;
            position: absolute;
            top: 40%;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    .header-logo {
        text-align: center;
    }

    .header-desc {
        text-align: center;
    }
}

.bn {
    height: 150px;
    background-color: $bn;
}

.conts {
    background-color: $conts;
    padding-top: 40px;
    padding-bottom: 40px;

    .conts--heading {
        margin-bottom: 40px;
    }

    .conts--item {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 30px;

        img {
            width: 100%;
        }

        .conts--caption {
            color: $gray-font-color;
            text-align: center;
            margin-top: 5px;
        }
    }

}

.modal {
    background-color: rgba(255,255,255,0.9);

    .modal-content {
        background: none;
        color: $base-font-color;
        border: 0;
        box-shadow: none;
        font-weight: 300;

        .modal-header {
            border: none;

            .modal-title {
                margin-top: 30px;
            }
        }

        .modal-body {
            img {
                width: 100%;
            }

            .conts--modal-outline, .conts--modal-credit {
                margin-bottom: 30px;
                line-height: 1.7;
            }

            .conts--modal-img {
                margin-bottom: 30px;
                line-height: 1.7;
            }
        }

        .modal-footer {
            border: none;
        }
    }
}

.prof {
    padding-top: 40px;
    padding-bottom: 40px;

    .prof--name {
        font-size: 170%
    }

    .prof--name__visible-xs {
        margin-top: 30px;
    }

    .prof--icon {
        img {
            width: 100px;
        }
    }

    .prof--sns {
        img {
            float: right;
            width: 30px;
            margin-left: 10px;
        }
    }
}
