<head>
  <meta charset="utf-8"/>
  <title>13imi - Portfolio Site</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/bootstrap/bootstrap.css" rel="stylesheet" media="screen">
  <link href="css/style.css" rel="stylesheet" media="screen">
  <script src="https://use.typekit.net/mhu6oqu.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script type="text/javascript" src="js/index.js"></script>
  <script type="text/javascript" src="js/p5.min.js"></script>
  <script type="text/javascript" src="js/liquid.js"></script>
</head>
