<head>
  <meta charset="utf-8"/>
  <title>13imi - Portfolio Site</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="css/bootstrap/bootstrap.css" rel="stylesheet" media="screen">
  <link href="css/fakeloader/fakeloader.css" rel="stylesheet" media="screen">
  <link href="css/style.css" rel="stylesheet" media="screen">

  <!-- For TypeFont -->
  <script src="https://use.typekit.net/mhu6oqu.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"></script>
  <script type="text/javascript" src="js/index.js"></script>
  <script type="text/javascript" src="js/p5.min.js"></script>
  <script type="text/javascript" src="js/fakeLoader.min.js"></script>
  <script type="text/javascript" src="js/liquid.js"></script>
  <script type="text/javascript" src="js/modal.js"></script>
</head>
