<head>
  <meta charset="utf-8"/>
  <title>13imi - Portfolio Site</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/bootstrap/bootstrap.css" rel="stylesheet" media="screen">
  <link href="css/style.css" rel="stylesheet" media="screen">
  <script type="text/javascript" src="js/index.js"></script>
</head>
