<!DOCTYPE html>
<html lang="ja">
  <% include common/_head %>
  <body>
    <div class="container">
      <% include common/_header %>

      <div class="row header">
        <div class="col-md-12">
          <h1 class="header-logo logo-font">13imi</h1>
        </div>
      </div>
      <!-- /.main -->

      <div class="row bn">
        <div class="col-md-12"></div>
      </div>
      <!-- /.free-visual -->

      <div class="row conts">
        <div class="col-md-4 conts--item">
          <img src="images/COLLAGREE01.png" class="" alt="COLLAGREE" />
          <p>COLLAGREE</p>
        </div>
      </div>
      <!-- /.conts--item -->

      <div class="row prof">
        <div class="col-md-2 col-md-offset-1 prof--icon">
          <img class="img-circle" alt="プロフィール画像" src="images/meerkat.png"/>

        </div>
        <!-- /.prof--icon -->
        <div class="col-md-9 prof--text">
          <p class="prof--name logo-font">13imi</p>
          <p class="prof--desc">1990年生まれ、東京在住。</p>
          <p class="prof--mail en-font">contact: yuma.imi13@gmail.com</p>
        </div>
        <!-- /.prof--text -->
        <div class="col-md-11 prof--sns">
          <a href="https://github.com/13imi"><img src="images/github.svg" class="" alt="" /></a>
          <a href="https://www.facebook.com/13imi"><img src="images/facebook.svg" class="" alt="" /></a>
          <a href="https://twitter.com/13imi"><img src="images/twitter.svg" class="" alt="" /></a>
        </div>
      </div>
      <!-- /.prof -->

    </div>
    <!-- /.container -->


    <article>
    </article>
    <% include common/_footer %>
    <% include common/_script %>
  </body>
</html>
