<!DOCTYPE html>
<html lang="ja">
  <% include common/_head %>
  <body>
    <% include common/_header %>
    <article>
    </article>
    <% include common/_footer %>
    <% include common/_script %>
  </body>
</html>
